In [3]:
# pandas : data visualization tool 
import pandas as pd
series = pd.Series([10, 12, 11, True, 15], index=list('abcde'))
print(series)

a      10
b      12
c      11
d    True
e      15
dtype: object

In [4]:
import pandas as pd
series = pd.Series(index=list('abcd'))
print(series)

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [5]:
import numpy as np
df = pd.DataFrame([('ravi', 10), ('subhansh', 18,89), ('saket', 8)])

print(df)

print(df.ndim)

          0   1     2
0      ravi  10   NaN
1  subhansh  18  89.0
2     saket   8   NaN
2

In [6]:

import numpy as np
df = pd.DataFrame([('ravi', 10), ('subhansh', 18,89), ('saket', 8)])

print(df)
7
565465854565465356565564515
"gfyg"
print(df.ndim)

          0   1     2
0      ravi  10   NaN
1  subhansh  18  89.0
2     saket   8   NaN
2

In [7]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\gupta\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [8]:
movies = pd.read_csv(r"C:\Users\gupta\OneDrive\Bollywood_movies.csv")
print(movies)

    Rank  Peak                         Film  Year               Director  \
0      1     1                       Dangal  2016          Nitesh Tiwari
1      2     1  Baahubali 2: The Conclusion  2017        S. S. Rajamouli
2      3     3            Bajrangi Bhaijaan  2015             Kabir Khan
3      4     3             Secret Superstar  2017         Advait Chandan
4      5     1                           PK  2014        Rajkumar Hirani
5      6     5                            2  2018              S.Shankar
6      7     2     Baahubali: The Beginning  2015        S. S. Rajamouli
7      8     4                       Sultan  2016        Ali Abbas Zafar
8      9     8                        Sanju  2018        Rajkumar Hirani
9     10     7                    Padmaavat  2018  Sanjay Leela Bhansali
10    11     8              Tiger Zinda Hai  2017        Ali Abbas Zafar
11    12     1                      Dhoom 3  2013  Vijay Krishna Acharya
12    13     9                          War  2019        Siddharth Anand
13    14     1                     3 Idiots  2009        Rajkumar Hirani
14    15    14                    Andhadhun  2018        Sriram Raghavan
15    16    16                        Saaho  2019                Sujeeth
16    17     6         Prem Ratan Dhan Payo  2015     Sooraj R. Barjatya
17    18     2              Chennai Express  2013           Rohit Shetty
18    19     4                         Kick  2014       Sajid Nadiadwala
19    20    17                       Simmba  2018           Rohit Shetty
20    21     5               Happy New Year  2014             Farah Khan
21    22     8                     Krrish 3  2013          Rakesh Roshan
22    23    10                      Dilwale  2015           Rohit Shetty
23    24    21                  Kabir Singh  2019          Sandeep Vanga
24    25    25                      Tanhaji  2020                Om Raut

                                             Producer Language  \
0   Aamir Khan Productions  UTV Motion Pictures  W...    Hindi
1                                    Arka Media Works   Telugu
2   Salman Khan Films  Kabir Khan Films  Eros Inte...    Hindi
3                              Aamir Khan Productions    Hindi
4           Vinod Chopra Films  Rajkumar Hirani Films    Hindi
5                                    Lyca Productions    Tamil
6                                    Arka Media Works   Telugu
7                                      Yash Raj Films    Hindi
8             Rajkumar Hirani FilmsVinod Chopra Films    Hindi
9      Bhansali Productions Viacom 18 Motion Pictures    Hindi
10                                     Yash Raj Films    Hindi
11                                     Yash Raj Films    Hindi
12                                     Yash Raj Films    Hindi
13                                 Vinod Chopra Films    Hindi
14        Viacom 18 Motion Pictures Matchbox Pictures    Hindi
15                             UV Creations  T-Series   Telugu
16              Fox Star Studios  Rajshri Productions    Hindi
17                         Red Chillies Entertainment    Hindi
18                                Nadiadwala Grandson    Hindi
19         Reliance Entertainment  Dharma Productions    Hindi
20                         Red Chillies Entertainment    Hindi
21                     Filmkraft Productions Pvt. Ltd    Hindi
22  Red Chillies Entertainment Rohit Shetty Produc...    Hindi
23                            Cine1 Studios  T-Series    Hindi
24                          Ajay Devgn FFilmsT-Series    Hindi

    Worldwide_Gross_INR(Crore)  Worldwide_Gross_USD(Million)
0                      2024.00                        311.00
1                      1810.00                        278.00
2                       969.06                        150.00
3                       966.86                        154.00
4                       832.00                        120.00
5                       800.00                        123.00
6                       650.00                        101.00
7                       623.33                         96.00
8                       586.85                         90.12
9                       585.00                         90.00
10                      565.10                         87.32
11                      556.00                        101.00
12                      475.50                         67.00
13                      460.00                         88.00
14                      456.89                         64.00
15                      433.06                         61.00
16                      432.00                         67.00
17                      423.00                         72.19
18                      402.00                         66.00
19                      400.00                         61.00
20                      397.21                         65.08
21                      393.37                         61.00
22                      376.85                         58.00
23                      367.68                         56.00
24                      366.36                         56.00

In [9]:
df.index
for i in df.index:
    print(df.index[i])

0
1
2

In [10]:
data = movies[['Film', 'Director']]
print(data, type(data))

                           Film               Director
0                        Dangal          Nitesh Tiwari
1   Baahubali 2: The Conclusion        S. S. Rajamouli
2             Bajrangi Bhaijaan             Kabir Khan
3              Secret Superstar         Advait Chandan
4                            PK        Rajkumar Hirani
5                             2              S.Shankar
6      Baahubali: The Beginning        S. S. Rajamouli
7                        Sultan        Ali Abbas Zafar
8                         Sanju        Rajkumar Hirani
9                     Padmaavat  Sanjay Leela Bhansali
10              Tiger Zinda Hai        Ali Abbas Zafar
11                      Dhoom 3  Vijay Krishna Acharya
12                          War        Siddharth Anand
13                     3 Idiots        Rajkumar Hirani
14                    Andhadhun        Sriram Raghavan
15                        Saaho                Sujeeth
16         Prem Ratan Dhan Payo     Sooraj R. Barjatya
17              Chennai Express           Rohit Shetty
18                         Kick       Sajid Nadiadwala
19                       Simmba           Rohit Shetty
20               Happy New Year             Farah Khan
21                     Krrish 3          Rakesh Roshan
22                      Dilwale           Rohit Shetty
23                  Kabir Singh          Sandeep Vanga
24                      Tanhaji                Om Raut <class 'pandas.core.frame.DataFrame'>

In [11]:
movies.loc[ :45845,['Film', 'Year']]

                           Film  Year
0                        Dangal  2016
1   Baahubali 2: The Conclusion  2017
2             Bajrangi Bhaijaan  2015
3              Secret Superstar  2017
4                            PK  2014
5                             2  2018
6      Baahubali: The Beginning  2015
7                        Sultan  2016
8                         Sanju  2018
9                     Padmaavat  2018
10              Tiger Zinda Hai  2017
11                      Dhoom 3  2013
12                          War  2019
13                     3 Idiots  2009
14                    Andhadhun  2018
15                        Saaho  2019
16         Prem Ratan Dhan Payo  2015
17              Chennai Express  2013
18                         Kick  2014
19                       Simmba  2018
20               Happy New Year  2014
21                     Krrish 3  2013
22                      Dilwale  2015
23                  Kabir Singh  2019
24                      Tanhaji  2020

In [12]:
movies.loc[movies['Year'] > 2016, ['Film', 'Producer', 'Year']]

,Film,Producer,Year
1,Baahubali 2: The Conclusion,Arka Media Works,2017
3,Secret Superstar,Aamir Khan Productions,2017
5,2,Lyca Productions,2018
8,Sanju,Rajkumar Hirani FilmsVinod Chopra Films,2018
9,Padmaavat,Bhansali Productions Viacom 18 Motion Pictures,2018
10,Tiger Zinda Hai,Yash Raj Films,2017
12,War,Yash Raj Films,2019
14,Andhadhun,Viacom 18 Motion Pictures Matchbox Pictures,2018
15,Saaho,UV Creations T-Series,2019
19,Simmba,Reliance Entertainment Dharma Productions,2018
23,Kabir Singh,Cine1 Studios T-Series,2019
24,Tanhaji,Ajay Devgn FFilmsT-Series,2020

In [13]:
df = pd.DataFrame([[1, 2], [1.0, 2.0], [0, 0]], columns=['one', 'two'])
print(df)
df[['one'] ]
# df[['one', 'two']]

   one  two
0  1.0  2.0
1  1.0  2.0
2  0.0  0.0

   one
0  1.0
1  1.0
2  0.0

In [14]:
print(df.items)
for i in df.items():
    print(i[1])

<bound method DataFrame.items of    one  two
0  1.0  2.0
1  1.0  2.0
2  0.0  0.0>
0    1.0
1    1.0
2    0.0
Name: one, dtype: float64
0    2.0
1    2.0
2    0.0
Name: two, dtype: float64

In [15]:
df.loc[ :]

   one  two
0  1.0  2.0
1  1.0  2.0
2  0.0  0.0

In [16]:
import pandas as pd
da=pd.read_csv("C:\Users\gupta\OneDrive\2.csv")
df=pd.DataFrame(da)
average=df['Math_Score'].mean()
maxmium=df['Science_Score'].max()
df['Total_Score'] = df['Math_Score'] + df['Science_Score']
highest_total_score_row = df[df['Total_Score'] == df['Total_Score'].max()]
highest_total_score_name = highest_total_score_row['Name'].values[0]

print(f"Student with the Highest Total Score: {highest_total_score_name}")
print(f'average marks of maths is {average}')
print(f'highest score of science is {maxmium}')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1451021917.py, line 2)

In [ ]:

# Question1 Eployee Data 
import pandas as pd

# Create a DataFrame from the given data
data = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Dana'],
    'Age': [25, 30, 28, 35],
    'Gender': ['Female', 'Male', 'Male', 'Female'],
    'City': ['New York', 'London', 'Paris', 'Berlin']
}

df = pd.DataFrame(data)

# a) Number of unique cities
unique_cities = df['City'].nunique()

# b) Average age
average_age = df['Age'].mean()

# c) Number of males and females
gender_counts = df['Gender'].value_counts()

# d) Oldest person
oldest_person = df[df['Age'] == df['Age'].max()]['Name'].values[0]

# e) City with the highest number of individuals
city_counts = df['City'].value_counts()
city_highest_individuals = city_counts.idxmax()

print("a) Number of unique cities:", unique_cities)
print("b) Average age:", average_age)
print("c) Number of males and females:\n", gender_counts)
print("d) Oldest person:", oldest_person)
print("e) City with the highest number of individuals:", city_highest_individuals)

a) Number of unique cities: 4
b) Average age: 29.5
c) Number of males and females:
 Gender
Female    2
Male      2
Name: count, dtype: int64
d) Oldest person: Dana
e) City with the highest number of individuals: New York

In [ ]:
# question 2 :- student scores
import pandas as pd

# Creating DataFrame
data = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Dana'],
    'Math_Score': [85, 75, 90, 80],
    'Science_Score': [90, 85, 80, 95]
}

df = pd.DataFrame(data)

# a) Calculate the average math score
average_math_score = df['Math_Score'].mean()
print("Average Math Score:", average_math_score)

# b) Find the highest science score
highest_science_score = df['Science_Score'].max()
print("Highest Science Score:", highest_science_score)

# c) Calculate the total score for each student 
df['Total_Score'] = df['Math_Score'] + df['Science_Score']
print("Total Scores:")
print(df[['Name', 'Total_Score']])  

# d) Find the student with the highest total score
highest_total_score_student = df.loc[df['Total_Score'].idxmax(), 'Name']
print("Student with the highest total score:", highest_total_score_student)

# e) Calculate the difference between the average math score and the average science score
average_science_score = df['Science_Score'].mean()
difference = average_math_score - average_science_score
print("Difference between average math score and average science score:", difference)

Average Math Score: 82.5
Highest Science Score: 95
Total Scores:
      Name  Total_Score
0    Alice          175
1      Bob          160
2  Charlie          170
3     Dana          175
Student with the highest total score: Alice
Difference between average math score and average science score: -5.0